body {
	font-family:'Lato', sans-serif;
	background-color:rgb(247, 247, 247);
	width:100%;
}

.row {
	max-width:100%;
}

.row .row {
	margin:0;
}

.column {
	padding:0;
}

.row .columns, .row .column {
	padding-right: 10px;
}

.row .columns:last-child, .row .column:last-child {
	padding-right:0!important;
}

.btn.small {
	padding:0.7rem;
}

.mega-octicon {
	font-size:25px;
}


.closed.octicon, .closed.mega-octicon {
	color:#bd2c00;
}

.opened.octicon, .opened.mega-octicon {
	color:#6cc644;
}

input[type=checkbox], input[type=radio] {
	-webkit-appearance:none;
	background-color: white;
	border: 1px solid #d4d4d4;
	width:15px;
	height:15px;
	margin: -3px 0.5em;
	padding: 0;
}

input[type=checkbox]:checked {
	background:url(/assets/images/icons/tick_blue.png) no-repeat;
	background-position:-1px -1px;
	background-size:15px 15px;
}

input[type=checkbox]:focus {
	outline:1px solid #CCC;
}








progress {
  width: 100%;
  height: 20px;
  margin: 0;
  background-color: #eee;
  border:1px solid #d4d4d4;
}


progress::-webkit-progress-bar {
  border-radius: 3px;
  background-color: #eee;
}
progress::-webkit-progress-value {
  background-color: #43ac6a;
  -webkit-animation: progress 8s linear infinite;
}
progress::-moz-progress-bar {
  background-color: #43ac6a;
}











.spacer-bottom {
	margin-bottom:1rem;
}

.spacer-top {
	margin-top:1rem;
}

.empty-row {
	font-style:italic;
	text-align:center;
}

#main-menu {
	border-bottom:3px solid #008cba;
	box-shadow:rgba(0, 0, 0, 0.239216) 0px 3px 4px;
}

.page-content {
	padding:20px 20px 50px 20px;
	width:100%;
}

footer {
	background-color:#222;
	color:white;
	padding:0.5em;
	box-shadow:rgb(204, 204, 204) 0px 0px 3px 2px;
	border-top:1px solid #008cba;
	box-sizing:border-box;
	height:35px;
	/*line-height:35px;*/
	position:fixed;
	bottom:0;
	width:100%;
}

.cb-cell {
	text-align:right;
}



.in-preview td {
	border-top:1px solid #777;
	border-bottom:1px solid #777;
}

.in-preview td:first-child {
	border-left:1px solid #777;
}

.in-preview td:last-child {
	border-right:1px solid #777;
}

.tag {
	padding:2px;
	text-align:center;
	border:1px solid white;
	min-width:30px;
}

.milestone-label {
	color:#777;
	text-align:center;
}

.md-preview {
	padding-top:1rem;
	background-color:white;
	border:1px solid #ddd;
}

.before-import {
	padding-top:1rem;
	background-color:white;
	border:1px solid #ddd;
}

ul.striped-list {
	display:block;
	list-style-type:none;
	width:100%;
	margin:0;
	text-align:left;
}

ul.striped-list li {
	padding:0.2em 0.5em;
	/*border-top:1px solid #CCC;*/
}

ul.striped-list li:nth-child(odd) {
	/*background:#EEE;*/
}

ul.striped-list li:nth-child(even) {
	/*background:#FFF;*/
}

ul.striped-list li:last-child {
	/*border-bottom:1px solid #CCC;*/
}

.discussion-toggle .arrow::after {
	content: "";
	display: block;
	width: 0;
	height: 0;
	border: inset 5px;
	border-color: rgba(255,255,255,0.0) transparent transparent transparent;
	border-top-style: solid;
	margin-top: -2.5px;
	top: 22.5px;
}

.discussion {
	width:100%;
	background-color:#f4f4f4;
	min-height:100px;
	border:1px solid #dcdcdc;
}

.discussion .message {
	margin-left:50px;
}

.discussion .message::before {
	content:"\21B3";
	font-size:26px;
}

.description {
	min-height:250px;
	border-bottom:transparent!important;
	position:relative;
}

.box {
	padding:20px 10px 10px 10px;
	width:100%;
	border:1px solid #dcdcdc;
	border-radius:3px 3px 0 0;
	background-color:#f4f4f4;
	box-sizing:border-box;
}

.box-label {
	background-color:#333;
	color:white;
	height:22px;
	position:absolute;
	left:10px;
	top:-12px;
	padding:2px 10px;
	font-size:12px;
	border-radius:2px;
}

.workflow {
	min-height:250px;
	border:1px solid #dcdcdc;
	border-radius:3px 3px 0 0;
	background-color:#f4f4f4;
}

.workflow .step {
	width:100%;
	text-align:center;
	background-color:#f4f4f4;
	border:1px solid #dcdcdc;
	margin:0;
}

.workflow .step .step-name {
	width:100%;
	border-bottom:1px solid #dcdcdc;
	background-color:#eee;
}

.workflow .step .no-tasks {
	font-style:italic;
	color:#aaa;
}

.worfklow .down-arrow {
	text-align:center;
}

.workflow .down-arrow img {
	display:block;
	margin:0 auto;
	margin-top:10px;
}

.task-box {
	display:flex;
	flex-direction:row;
}

.task-name {
	margin-right:10px;
}

.task-progression {
	flex:1;
}

.tasks-box .task {
	display:table-cell;
	text-align:center;
}

.github-issues {
	width:100%;
}

.github-avatar {
	width:40px;
	height:40px;
	border-radius:20px;
	margin-right:5px;
}

.infos-left {
	float:left;
}

.infos-right {
	float:right;
}
.table-form {
	display:table;
	width:100%;
}

.form-row {
	display:table-row;
}

.login-box {
	width:450px;
	margin:0 auto;
	border:1px solid #dcdcdc;
	padding:1px;
	margin-top:100px;
}

.inner-login-box {
	background-color:#fafafa;
	padding:10px;
}

.form-row label, .form-row input, .form-row button, .form-row div {
	display:table-cell;
	vertical-align:middle;
	font-size:1rem;
}

.form-row button {
	width:100%;
}

h1 {
    font-size:1.2em;
}

h2 {
    font-size:1.1em;
}

#login-form {
	padding-top: 50px;
	width: 700px;
	margin: 0 auto;
}

#login-form table {
	width: 100%;
}
