{{#partial "content" }}
<h2>Welcome to Projuice</h2>
<div id="index-page"></div>
{{/partial}}
{{#partial "scripts" }}
<script type="text/javascript" src="/assets/scripts/index.min.js"></script>
{{/partial}}
{{> web/views/layout}}