{{#partial "content" }}
<h2>Login</h2>
<form id="login-form"></form>
{{/partial}}
{{partial "scripts" }}
<script type="text/javascript" src="/assets/scripts/login.min.js"></script>
{{/partial}}
{{> web/views/layout}}