{{#partial "content" }}
<div id="project-page"></div>
{{/partial}}
{{#partial "scripts" }}
<script type="text/javascript" src="/assets/scripts/project.min.js"></script>
{{/partial}}
{{> web/views/layout}}